<!DOCTYPE html>
<html lang="en" dir="ltr">
<!-- Import Js -->
<head>
  <meta charset="utf-8">

  <script type="text/javascript" src="/javascripts/jquery-3.4.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>


  <script type="text/javascript" src="/javascripts/utils.js"></script>
  <script type="text/javascript" src="/javascripts/user.js"></script>
  <script type="text/javascript" src="/javascripts/blog.js"></script>
  <script type="text/javascript" src="/javascripts/add_blog.js"></script>

  <!-- Import CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/stylesheets/styles.css">


  <title>Bose's BLOG</title>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">BOSE's BLOG</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/">HOME</a></li>
          <% if (!user_id) { %>
            <form  method="post" id="loginForm" style="float:right;margin: 10px 20px" action="/user/login">
              <tr>
                <td><input type="text" name="user_id" placeholder="ID"></td>
                <a href='#' data-toggle="modal" data-target="#joinModal" style="font-size:3px;color:gray">회원가입</a>
                <br>
                <td><input type="password" name="pw" placeholder="password"></td>
              </tr>
              <input type="button" class="btn-sm btn-info" onclick="login();return false;" value="login">
            </form>
          <% } else { %>
            <form method="post" style="float:right;margin: 10px 20px" action="/api/user/logout">
              <span style="color:white;"><%= user_id %></span>
              <input type="submit" value="logout">
            </form>
          <% } %>
        </ul>
      <div id="joinModal" class="modal" tabindex="-1" style="margin-top:100px;" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Join</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form method="post" id="joinForm" action="/user">
                <div class="form-group">
                  <label for="user_id">ID:</label>
                  <input type="text" class="form-control" name="user_id">
                </div>
                <div class="form-group">
                  <label for="password">Password:</label>
                  <input type="password" class="form-control" name="pw">
                </div>
                <div class="form-group">
                  <label for="name">Name:</label>
                  <input type="text" class="form-control" name="name">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" onclick="join()">Insert</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </nav>

  <body>
    <div class="container">
