<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <% include ./head.ejs %>
  <title>Bose's BLOG</title>
</head>
<body>
  <% include ./header.ejs %>
  <div class="container">
    <%- body %>
  </div>
  <% include ./footer.ejs %>
</body>
</html>
    