<% include ./partials/header.ejs %>

    <% if(user_id){%>
    <form id = "addBlogForm" method = "post" action = "/blog/create" style="margin-top:150px">
        <div class = "form_group">
            <label for="name">name:</label>
            <input type="text" class="form_control" name="name">
        </div>
        <div class="form_group">
            <label for="content">content:</label>
            <input type="text" class="form_control" name="content">
        </div>
        <div class="form_group">
            <button type="button" class="btn btn-primary" onclick="insertBlog()">저장</button>
        </div>
    </form>
<%}else{%>
        <div style="margin-top:150px">로그인을 하셔야 합니다.</div>
<%}%>
<% include ./partials/footer %>