<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./header.ejs %>
    <h1>bose's BLOG</h1>
</head>
<body>
    <div id = "test_tmp"></div>
</body>
<!— 합쳐지고 최소화된 최신 자바스크립트 —>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</html>