<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./header.ejs %>
    <script type="text/javascript" src="/javascripts/blog.js"></script>
    <link href='/stylesheets/table.css' rel='stylesheet'/>
</head>
<body>
<div class="container">
    <h1>bose's BLOG</h1>
    <table class="table table-striped" id="test_tmp">
        <thread>
            <tr>
                <th>NO.</th>
                <th>제목</th>
                <th>날짜</th>
            </tr>
        </thread>
    </table>
    <button type="button" class="btn btn-default pull-right" onClick="location.href='/blog/create'">글 작성</button>
</div>
</body>
</html>