<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./header.ejs %>
    <h1>bose's BLOG</h1>
</head>
<body>
    <table class="table table-striped" id="test_tmp">
        <thread>
            <tr>
                <th>NO.</th>
                <th>제목</th>
                <th>날짜</th>
            </tr>
        </thread>
    </table>
</body>
<!— 합쳐지고 최소화된 최신 자바스크립트 —>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</html>