<!-- Set meta info -->
<meta charset="UTF-8">

<!-- Set title -->
<title>TEST</title>

<!-- Import CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- stylesheets-->
<link href='/stylesheets/header.css' rel='stylesheet'/>

<!-- Import Js -->
<script type="text/javascript" src="/javascripts/jquery-3.4.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/utils.js"></script>

<!--login header-->
<% include ./headerbar.ejs %>