<% include ./partials/header.ejs %>
    <script type="text/javascript" src="/javascripts/show_blog.js"></script>

    this blog is : <%= id %>
    <div id="show_Content"></div>
    <button type="button" class="btn btn-default pull-right" onClick="deleteBlog()">삭제</button>

<% include ./partials/footer %>